
@font-face {
    font-display: swap;
    font-family: 'Poppins-Regular';
    font-style: normal;
    font-weight: normal;
    src: url('./poppins/Poppins-Regular.otf');
  }
  
  @font-face {
    font-display: swap;
    font-family: 'Poppins-Medium';
    font-style: normal;
    font-weight: 500;
    src: url('./poppins/Poppins-Medium.otf');
  }
  @font-face {
    font-display: swap;
    font-family: 'Poppins-SemiBold';
    font-style: normal;
    font-weight: 600;
    src: url('./poppins/Poppins-SemiBold.otf');
  }
  @font-face {
    font-display: swap;
    font-family: 'Poppins-Bold';
    font-style: normal;
    font-weight: bold;
    src: url('./poppins/Poppins-Bold.otf');
  }
  @font-face {
    font-display: swap;
    font-family: 'Poppins-extraBold';
    font-style: normal;
    font-weight: bold;
    src: url('./poppins/Poppins-ExtraBold.otf');
  }
  
  @font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('./poppins/Poppins-Black.otf');
  }

  
  @font-face {
    font-family: 'Proxima-Bold';
  src: url('./ProximaNova/Proxima Nova Bold.otf');
  }

  @font-face {
    font-family: 'Proxima-SemiBold';
  src: url('./ProximaNova/Proxima Nova Semibold.otf');
  }
  @font-face {
    font-family: 'ProximaNova-Bold';
    src: url('./ProximaNova/Proxima Nova Bold.otf');
  }
  @font-face {
    font-family: 'Proxima-Regular';
    src: url('./ProximaNova/Proxima Nova Reg.otf');
  }
  

  //ralelway
 
  @font-face {
    font-family: 'Raleway-Medium';
    src: url('./raleway/Raleway-Medium.ttf');
  }

  //dancing

  @font-face {
    font-family: 'DancingScript-Bold';
    src: url('./dancingscript/DancingScript-Bold.ttf');
  }